exifread==3.5.1
humanize==4.13.0
ipython>=9.6.0
numpy==2.3.3
pillow==11.3.0

pip-check-updates>=0.27.0
pre_commit>=4.3.0

pycairo==1.28.0
PyGObject==3.54.3
PyGObject-stubs>=2.13.0
rawpy==0.25.1
redis==6.4.0
setuptools==80.9.0
